/* stylelint-disable scss/dollar-variable-empty-line-before */
$very-dark-purple-100: #6205e3;
$very-dark-purple-200: #5004b8;
$very-dark-purple-300: #3d038e;
$very-dark-purple-400: #2b0263;
$very-dark-purple-500: #190139;
$very-dark-purple-600: #06000e;

$medium-dark-purple-100: #5d05da;
$medium-dark-purple-200: #4b04af;
$medium-dark-purple-300: #390384;
$medium-dark-purple-400: #27025a;
$medium-dark-purple-500: #14012f;
$medium-dark-purple-600: #020005;

$light-vivid-purple-100: #9444e4;
$light-vivid-purple-200: #7837b9;
$light-vivid-purple-300: #5d2b8f;
$light-vivid-purple-400: #411e65;
$light-vivid-purple-500: #26113a;
$light-vivid-purple-600: #0a0510;

$pastel-purple-100: #fab0fa;
$pastel-purple-200: #cf92cf;
$pastel-purple-300: #a574a5;
$pastel-purple-400: #7a567a;
$pastel-purple-500: #503850;
$pastel-purple-600: #251a25;

$grayscale-100: #ffffff;
$grayscale-200: #b4b4b4;
$grayscale-300: #7f7f7f;
$grayscale-400: #5a5a5a;
$grayscale-500: #404040;
$grayscale-600: #2d2d2d;
$grayscale-700: #202020;
$grayscale-800: #171717;
$grayscale-900: #101010;
$grayscale-1000: #000000;
