$font-arturito: arturito, serif;
$font-coolvetica: coolvetica, sans-serif;
$font-inter: inter, sans-serif;

@font-face {
  font-family: arturito;
  src: url("../../assets/fonts/arturito/arturito.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: coolvetica;
  src: url("../../assets/fonts/coolvetica/coolvetica rg.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: inter;
  src: url("../../assets/fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: inter;
  src: url("../../assets/fonts/inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
