@use "../mixins/font_face" as *;
@use "paths" as *;

$font-arturito: arturito, serif;
$font-coolvetica: coolvetica, sans-serif;
$font-inter: inter, sans-serif;

@include font-face(arturito, "#{$fonts-path}/arturito/arturito.ttf", 700);
@include font-face(
  coolvetica,
  "#{$fonts-path}/coolvetica/coolvetica rg.ttf",
  400
);
@include font-face(inter, "#{$fonts-path}/inter/Inter-Regular.ttf", 400);
@include font-face(inter, "#{$fonts-path}/inter/Inter-Medium.ttf", 500);
